spring:
  application:
    name: zuul-edge-service
  redis:
      #add "127.0.0.1 redis" without quote in /etc/hosts for running without docker when redis running locally.
      host: redis
      port: 6379
server:
  port: 8762

rateLimit:
  enabled: true
  #rate limit approach - origin, url, user
  policy: user
  #types of limit - burst, uniform
  type: burst
  #timewindow in seconds
  timeWindow: 3600
  #number of request within timeWindow
  requestCount: 360

eureka:
  client:
    service-url:
      defaultZone: http://eureka-discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2



logging:
  level:
    com.netflix: 'WARN'
    org.springframework.cloud: 'WARN'
zuul:
  prefix: /api
  #  Uncomment to disable auto-registering all services read from Eureka
  ignoredServices: '*'
  routes:
    test:
      #http://localhost:8762/api/redirect
      path: /redirect/**
      url:  http://www.google.com/
    auth-service:
      path: /auth/**
      serviceId: AUTH-SERVICE
      # By default, all requests to word-query-service for example will start with: "/wqs/"
      # What will be sent to the word-query-serviceis what comes after the path defined,
      # So, if request is "wqs/synonyms/happy", gallery service will get "synonyms/happy".
      # In case of auth, we need to pass the "/auth/" in the path to auth service. So, set strip-prefix to false
      strip-prefix: false
      sensitive-headers: Cookie,Set-Cookie
    word-query-service:
      #http://localhost:8762/api/wqs/synonyms/happy
      #http://localhost:8762/api/wqs/antonyms/happy
      #http://localhost:8762/api/wqs/soundslike/hapy
      path: /wqs/**
      serviceId: WORD-QUERY-SERVICE
#    sounds-like-query-service:
#      #http://localhost:8762/api/slqs/soundslike
#      path: /slqs/**
#      serviceId: SOUNDS-LIKE-QUERY-SERVICE
#    synonyms-query-service:
#      #http://localhost:8762/api/sqs/synonyms
#      path: /sqs/**
#      serviceId: SYNONYMS-QUERY-SERVICE

#There was an unexpected error (type=Internal Server Error, status=500).
#GENERAL
# to avoid above error we need to add below hystrix. i found this solution after lot of trial and error.

hystrix:
  metrics:
    enabled: true
  command:
    default:
      execution:
        isolation:
          strategy: THREAD
          thread:
            timeoutInMilliseconds: 15000
ribbon:
  eager-load:
    enabled: true
  eureka:
    enabled: true
#  There was an unexpected error (type=Gateway Timeout, status=504).
#  com.netflix.zuul.exception.ZuulException: Hystrix Readed time out
#  to avoid above exception we need to set below two timeouts. i found this solution after lot of trial and error.
  ConnectTimeout: 60000
  ReadTimeout: 600000
